html, body { height: 100%; margin: 0; } 
body { background-image: linear-gradient(to right top, #f15033, #25d97f, #c118c1, #aa0a0a, #006494);
 } .login_div { background: rgba(255,255,255,0.8);float: none;border-radius: 15px; } #login_button { width: 80%;border-radius: 15px; }